@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@layer components {
  .card {
    @apply bg-white rounded-md shadow-sm;
  }

  .input {
    @apply px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loading,
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.2rem;
  font-weight: 500;
  color: #555;
}
